@import url(https://fonts.googleapis.com/css?family=Roboto);
/*Just the background stuff*/
.EventDetails span.s1 {
  position: absolute;
  top: 0;
  font-size: 15rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #3C4447;
}

.EventDetails span.s2 {
  font-weight: 800;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 15rem;
  text-transform: uppercase;
  color: #3C4447;
}
body {
  font-family: "Roboto", sans-serif;
}

/* The card */
.card {
  position: relative;
  height: 450px;
  width: 900px;
  margin: 200px auto;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

/* Image on the left side */
.thumbnail {
  float: left;
  position: relative;
  left: 30px;
  top: -30px;
  height: 320px;
  width: 530px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

/*object-fit: cover;*/
/*object-position: center;*/
.EventDetails img.left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Right side of the card */
.right {
  margin-left: 590px;
  margin-right: 20px;
}

.EventDetails h1 {
  padding-top: 15px;
  font-size: 1.3rem;
  color: #4B4B4B;
}

.author {
  background-color: #9ECAFF;
  height: 30px;
  width: 110px;
  border-radius: 20px;
}

.author > img {
  padding-top: 5px;
  margin-left: 10px;
  float: left;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.EventDetails h2 {
  padding-top: 8px;
  margin-right: 6px;
  text-align: right;
  font-size: 0.8rem;
}
.separator {
  margin-top: 10px;
  border: 1px solid #C3C3C3;
}

.EventDetails p {
  text-align: justify;
  padding-top: 10px;
  font-size: 0.95rem;
  line-height: 150%;
  color: #4B4B4B;
}

/* DATE of release*/
.EventDetails h5 {
  position: absolute;
  left: 30px;
  bottom: 43px;
  font-size: 6rem;
  color: #C3C3C3;
}

.EventDetails h6 {
  position: absolute;
  left: 30px;
  bottom: 15px;
  font-size: 2rem;
  color: #C3C3C3;
}

/* Those futur buttons */
.EventDetails ul {
  margin-left: 250px;
}

.EventDetails li {
  display: inline;
  list-style: none;
  padding-right: 40px;
  color: #7B7B7B;
}

/* Floating action button */
.fab {
  position: absolute;
  right: 50px;
  bottom: -40px;
  box-sizing: border-box;
  padding-top: 18px;
  background-color: #1875D0;
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}