@import url("https://fonts.googleapis.com/css?family=Lato");


/* .container {
	background: #222222;
	display: block;
	position: relative;
	margin: 40px auto;	
	height: auto;
	width: 500px;
	padding: 20px;
} */

.container li {
	display: flex;
	align-items:center;
	color: #aaaaaa;
	position: relative;
	float: left;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #333;
}

.container li input[type="radio"] {
	position: absolute;
	visibility: hidden;
}

.container li label {
	padding: 25px 25px 25px 45px;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
}

.container li:hover label {
	color: #ffffff;
}

.container li .check {
	display: block;
	position: absolute;
	border: 2px solid #aaaaaa;
	border-radius: 100%;
	height: 15px;
	width: 15px;
	top: 18px;
	left: 20px;
	z-index: 5;
	transition: border 0.25s linear;
	-webkit-transition: border 0.25s linear;
}

.container li:hover .check {
	border: 2px solid #ffffff;
}

.container li .check::before {
	display: block;
	position: absolute;
	content: "";
	border-radius: 100%;
	height: 7px;
	width: 7px;
	top: 1.5px;
	left: 1.8px;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

/* .container .active  label {
	color: #0dff92;
}
.container .active  .check {
	border: 5px solid #0dff92;
}
.container .active  .check::before {
	background: #0dff92;

} */
.container input[type="radio"]:checked ~ .check {
	border: 2px solid #0dff92;
}

.container input[type="radio"]:checked ~ .check::before {
	background: #0dff92;
}

.container input[type="radio"]:checked ~ label {
	color: #0dff92;
}



