.questionBox {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color:grey;
    margin: 20px;
    cursor: pointer;
    text-align: center;
    /* padding:10px 0px 10px 0px; */
    line-height:100px;
}

.myModal{
    display: none;
    position: fixed; 
    left: 0; 
    right: 0; 
    top: 50%; 
    bottom: 0;
    background-color:blanchedalmond;
    margin: auto;
    width: 300px;
    height: 100px;
    box-shadow: 2px 2px 2px;
}