.questionBox {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 80px;
    height: 80px;
    background-color:grey;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    font-size:30px;
    border-radius: 5px;
}

.myModal{
    display: none;
    position: fixed; 
    left: 0; 
    right: 0; 
    top: 50%; 
    bottom: 0;
    background-color:blanchedalmond;
    margin: auto;
    width: 300px;
    height: 100px;
    box-shadow: 2px 2px 2px;
}
.container{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
    
}
.allQuestions{
    display: flex;
    flex-flow: row wrap;
    flex-basis: 35%;
    align-content: flex-start;
    margin: 0;
}
.currentQuestion{
    display: flex;
    flex-basis: 60%;
    justify-content: space-between;
    flex-flow: column ;
    align-items: center;
    /* height:500px; */
    margin: 0;
    /* width:500px; */
}
.eventName{
    font-size: 52px;
    position: relative;
    bottom:5%;
    font-family: monospace;
    text-align: center;
    position: relative;
    bottom: 50px;
}